html,
body,
#root {
    height: 100%;
    margin: 0;
    
}

.grid-container {
  display: grid;
  height: 400px;
  width: 700px;
  column-gap: 20px;
  row-gap: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 200px auto;
}

.grid-container > div {
  background: #DAA520;
}